@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather&display=swap');
*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #cdcdcd;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #fff;
  font-family: 'Lato', sans-serif;
}
.container {
  background:  #c9dceb;
  width: 350px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
header {
  display: flex;
  justify-content: space-between;
}
.banner {
  background: #00144d;
  padding: 20px 20px 0px;
}
.hero {
  margin-left: auto;
  font-weight: bold;
  font-family: 'Merriweather', serif;
}
.hero span {
  color: #f06529;
}
.toggle-btn {
  background: transparent;
  color: rgba(211, 255, 251, 0.788);
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
}
.balance {
  background: rgba(5, 90, 160, 0.473);
  margin-top: 0.7rem;
  padding: 10px 20px 3px;
}
.balance h1 {
  font-size: 1.7rem;
  letter-spacing: 0.8px;
  margin-top: 4px;
}
.inc-exp-container {
  display: flex;
  justify-content: space-between;
  color: #000;
  padding: 0px 20px;
  text-transform: capitalize;
}
.inc-exp-container > div {
  background: #fff;
  flex: 1;
  -ms-flex: 1;
  padding: 9px 0px 1px;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.money {
  font-size: 20px;
  letter-spacing: 0.4px;
  margin: 2px 0;
}
.money.plus {
  color: #2ecc71;
  border: none;
}
.money.minus {
  color: #c0392b;
  border: none;
}
.transaction-list {
  color: #000;
  padding: 7px 20px;
}
.list {
  list-style-type: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.transaction-list > h4, .transaction-list > ul,
.add-trans h4, .add-trans form {
  background: #fff;
  padding: 5px 7px;
}
.transaction-list h4, .add-trans h4 {
  border-bottom: 1px solid #dedede;
  font-size: 20px;
}
.list li {
  background: #f5f5f5;
  padding: 3px 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-bottom: 4px;
}
.list li .details {
  display: flex;
  justify-content: space-between;
}
.list li .details p {
  text-transform: capitalize;
}
.list li .action {
  display: flex;
  justify-content: space-between;
}
.list li .action small {
  color: #ffa600;
  margin-top: 5px;
}
.plus {
  border-left: 4px solid #2ecc71;
}
.minus {
  border-left: 4px solid #c0392b;
}
.list li .action .delete-btn {
  color: #ffa600;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  border: none;
  outline: none;
  opacity: 0;
}
.list li:hover .action .delete-btn {
  opacity: 1;
  color: #c0392b;
}
.add-trans {
  padding: 10px 20px;
  color: #000;
}
label {
  display: block;
  margin-bottom: 3px;
}
input {
  width: 100%;
  background: #f5f5f5;
  outline: none;
  border: 1px solid #c9dceb;
  padding: 6px 10px;
  font-size: 1rem;
}
form .form-control {
  margin-bottom: 5px;
}
.submit-btn {
  background:  #a4cbe9;
  width: 100%;
  cursor: pointer;
  padding: 5px 0px;
  font-size: 1.15rem;
  outline: none;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
/* sidebar */
.sidebar-toggle {
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  color: hsl(205, 78%, 60%);
  transition: all 0.3s linear;
  cursor: pointer;
  outline: none;
  border: none;
}
.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}
.close-btn {
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  color: hsl(205, 78%, 60%);
  transition: all 0.3s linear;
  cursor: pointer;
  color: hsl(360, 67%, 44%);
  margin-top: -2rem;
  outline: none;
  border: none;
}
.close-btn:hover {
  color:  hsl(360, 71%, 66%);
  transform: rotate(-90deg);
}
.sidebar {
  position: absolute;
  top: 0;
  background: #000;
  left: 0;
  width: 100%;
  height: 100%;
  background: #c9dceb;
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 1rem;
  box-shadow: hsl(360, 67%, 44%);
  transition: all 0.3s linear;
  transform: translate(-100%);
  z-index: -1;
}
.show-sidebar {
  transform: translate(0);
  z-index: 1;
}

@media screen and (max-width: 500px) {
  .container {
    min-width: 100vw;
    min-height: 76.3vh;
  }
}
.sidebar-header ul li a {
  text-decoration: none;
  font-size: 1.2rem;
}
.sidebar-header ul li {
  margin-bottom: 0.5rem;
  list-style-type: none;
}